<div class="container">
  <div class="row mb-0">
    <div class="col-3 px-0">
      <h1><%= current_user.name %></h1> 
      <h5>Signup: <%= current_user.created_at.strftime("%m/%d/%Y") %></h5> 
      <p class="badge badge-secondary">Rounds Golfed: <%= current_user.rounds.count %></p>
      <p class="badge badge-secondary">Created Courses: <%= current_user.created_courses.count %></p>
    </div>
    <div class="col my-4 text-center align-self-end nord-col">
      <h6>Average Strokes</h6>
      <h4><%= current_user.average_round %></h4>
    </div>
    <div class="col my-4 text-center align-self-end nord-col">
      <h6>Average Round</h6>
      <h4><%= current_user.average_score %></h4>
    </div>
    <div class="col my-4 text-center align-self-end nord-col">
      <h6>Average Putts</h6>
      <h4><%= current_user.average_putts %></h4>
    </div>
    <div class="col my-4 text-center align-self-end nord-col">
      <h6>Average Fairways</h6>
      <h4><%= current_user.average_fairways %></h4>
    </div>
    <div class="col-2 px-0 align-self-end">
      <%= link_to 'Create Course', new_course_path, class: "btn-sm btn-primary float-right" %><br><br>
      <%= link_to 'New Round', rounds_factory_path, class: "btn-sm btn-info float-right" %><br><br>
    </div>
  </div>
</div>

<%= render 'score_types' %> 

<%= render 'averages' %>

<%= render 'best_rounds' %>

<%= render 'best_holes' %>

