<ul class="list-group list-group-flush text-center mt-2" style="width: 11%">
  <li class="list-group-item list-group-item-secondary p-2">
    <small class="form-text">Hole</small>
    <%= f.text_field :hole_number, class: "form-control form-control-sm text-center" %>
    <small class="form-text"><%= hole_par(f) %></small>
  </li>
  <li class="list-group-item p-1">
    <small class="form-text text-muted">Strokes</small>
    <%= f.number_field :strokes, class: "form-control form-control-sm text-center" %>
  </li>
  <li class="list-group-item p-1">
    <small class="form-text text-muted">Putts</small>
    <%= f.number_field :putts, class: "form-control form-control-sm text-center" %>
  </li>
  <li class="list-group-item p-1">
    <small class="form-text text-muted">G.I.R.</small>
    <%= f.check_box :gir, class: "form-check m-auto" %>
  </li>
  <li class="list-group-item p-1">
    <small class="form-text text-muted">Fairway</small>
    <%= f.check_box :fairway, class: "form-check m-auto" %>
  </li>
</ul>
