<div class="row">
  <div class="col">
    <h1>Rounds</h1>
  </div>
  <div class="col align-self-center">
    <%= link_to 'Add Round', rounds_factory_path, class: "btn-sm btn-primary float-right" %>
  </div>
</div>
<br><br>
<table class="table nord text-center">
  <thead class="thead nord-head">
    <tr>
      <th scope="col">Date</th>
      <th scope="col">Course</th>
      <th scope="col">Holes</th>
      <th scope="col">Par</th>
      <th scope="col">Strokes</th>
      <th scope="col">Putts</th>
      <th scope="col">G.I.R.</th>
      <th scope="col">Fairways</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>

    <% @rounds.each do |round| %>
      <tr>
        <td><%= round.datef %></td>
        <td><%= round.course.name %></td>
        <td><%= round.scorecards.count %></td>
        <td><%= round.par %></td>
        <td><%= round.total %></td>
        <td><%= round.scorecards.sum(:putts) %></td>
        <td><%= round.total_gir %></td>
        <td><%= round.total_fairways %></td>
        <td><%= link_to 'View', round, class: "btn-sm btn-secondary" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @rounds, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
<% if @rounds.blank? %>
  <h6>No rounds yet...</h6>
<% end %>
