<h1>New Round</h1>
<%= form_with model: @round, local: true do |f| %>
  <%= f.hidden_field :course_id, value: @round.course.id %>
  <%= f.hidden_field :golfer_id, value: @round.golfer.id %>
  <div class="row">
    <div class="col-auto pr-1">
      <h5>State:</h5>
    </div>
    <div class="col-auto">
      <h6><%= @round.course.state %></h6> 
    </div>
  </div>
  <div class="row">
    <div class="col-auto pr-1">
      <h5>City:</h5>
    </div>
    <div class="col-auto">
      <h6><%= @round.course.city %></h6> 
    </div>
  </div>
  <div class="row">
    <div class="col-auto pr-1">
      <h5>Course:</h5>
    </div>
    <div class="col-auto">
      <h6><%= @round.course.name %></h6> 
    </div>
  </div>
  <div class="form-group">
    <%= f.label :date %>
    <%= f.date_field :date, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :tee %>
    <%= f.select :tee, options_for_select(@round.course.tees.pluck(:color).sort), { prompt: "Select Tee.." }, { class: "form-control" } %>
  </div>
  <div class="actions">
    <%= submit_tag "Create Round", class: "btn btn-primary" %>
  </div>
<% end %>

