<%= form_with model: tee, local: true do |f| %>
  <div class="form-group">
    <%= f.label :color, "Tee Color" %>
    <%= f.text_field :color, class: "form-control" %>
  </div>

  <div class="container mb-4">
    <div class="row">
      <%= f.fields_for :holes do |ff| %>
        <%= render 'holes/form_fields', f: ff %>
      <% end %>
    </div>
  </div>

<% end %>


