<%= render 'courses/course_summary', course: @tee.course %>
<div class="container mb-4">
  <div class="row">
    <div class="col-auto px-0">
      <h5><%= @tee.color %> Tees</h5>
    </div>
    <div class="col-auto pl-3">
      <% if mod_perm(@tee.course.creator) %>
        <%= link_to "Edit", edit_tee_path(@tee), class: "badge badge-secondary" %>
        <%= link_to 'Delete', @tee, method: :delete, data: { confirm: 'Are you sure?' }, class: "badge badge-danger" %>
      <% end %>
    </div>
    <div class="col-auto ml-auto mt-1 pr-2">
      <h6>Par: <%= @tee.par %> | <%= @tee.yardage %> yards</h6>  
    </div>
  </div>
  <div class="row">
    <% @tee.holes.each do |hole| %>
      <%= render 'tee_holes', hole: hole %>
    <% end %>
  </div>
</div>
<h5>Lowest Rounds</h5>
<% if @tee.rounds.blank? %>
  <h6>No rounds yet...</h6>
<% else %>
<%= render 'lowest_rounds', tee: @tee %> 
<% end %>
