<%= form_with model: course, local: true do |f| %>
  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :city %>
    <%= f.text_field :city, class: "form-control"  %>
  </div>

  <div class="form-group">
    <%= f.label :state %>
    <%= f.text_field :state, class: "form-control"  %>
  </div>

  <div class="form-group">
    <%= f.label :style %><br>
    <% binding.pry %> <%= f.select :style, options_for_select(Course.pluck(:style).uniq.sort), { prompt: "Select one" }, { class: "form-control" } %>
  </div>

  <div class="form-group">
    <%= f.label :access %>
    <%= f.select :access, options_for_select(Course.pluck(:access).uniq.sort), { prompt: "Select one" }, { class: "form-control" } %>
  </div>

  <div class="actions">
    <%= f.submit class: "btn btn-primary" %>
  </div>
<% end %>

