<div class="container mb-4">
  <div class="row">
    <div class="col-auto px-0">
      <h6><%= tee.color %> Tees</h6>
    </div>
    <div class="col-auto pl-3">
      <%= link_to "View", course_tee_path(tee.course, tee), class: "badge badge-primary" %>
      <% if mod_perm(tee.course.creator) %>
        <%= link_to "Edit", edit_tee_path(tee), class: "badge badge-secondary" %>
        <%= link_to 'Delete', tee, method: :delete, data: { confirm: 'Are you sure?' }, class: "badge badge-danger" %>
      <% end %>
    </div>
    <div class="col-auto ml-auto mt-1 pr-2">
      <h6>Par: <%= tee.par %> | <%= tee.yardage %> yards</h6>  
    </div>
  </div>
  <div class="row">
    <% tee.holes.each do |hole| %>
      <ul class="list-group list-group-flush text-center mt-2" style="width: 11%">
        <li class="<%= "list-group-item #{tee_list_group_style(tee)} p-2"%>"><small><%= hole.hole_number %></small></li>
        <li class="list-group-item p-1"><small><%= hole.yardage %></small></li>
        <li class="list-group-item p-1"><small><%= hole.par %></small></li>
      </ul>
    <% end %>
  </div>
</div>
