<div class="row">
  <div class="col">
    <h1>Courses</h1>
  </div>
  <div class="col align-self-center">
    <%= link_to 'Create Course', new_course_path, class: "btn-sm btn-primary float-right" %>
  </div>
</div>
<br><br>
<table class="table nord">
  <thead class="thead nord-head">
    <tr>
      <th scope="col">Name</th>
      <th scope="col">City</th>
      <th scope="col">State</th>
      <th scope="col">Style</th>
      <th scope="col">Access</th>
      <th scope="col">Created By</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @courses.each do |course| %>
      <tr>
        <td><%= course.name %></td>
        <td><%= course.city %></td>
        <td><%= course.state %></td>
        <td><%= course.style %></td>
        <td><%= course.access %></td>
        <td><%= course.creator.name %></td>
        <td><%= link_to 'View', course, class: "btn-sm btn-secondary" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @courses, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
